/*轮播*/
.carousel{
  /*min-width:1000px;*/
  height:299px;
  position: relative;
  overflow:hidden;
}
.carousel .carouselCantain{
  position:relative;
  height: 299px;
  z-index:0;
}

.carousel .fade .carouselInner{
  width: 100%!important;
}

.tempWrap{
  margin:  0 auto;
  height: 100%;
}

.carousel .carouselItem{
  float: left;
  height:299px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.carousel .fade .carouselItem{
  width: 100%!important;
}

.carousel .carouselItem a{
  display:block;
  height:100%;
}
.carousel .carouselPages{
  width:100%;
  position:absolute;
  z-index:1;
  bottom:0;
  left:0;
  height:30px;
  line-height:30px;
  text-align:center;
}

.carousel .carouselItem img{
  height: 100%;
}

.carousel .carouselPages ul li{
  cursor:pointer;
  display:inline-block;
  *display:inline;
  zoom:1;
  font-size: 12px;
  width:16px; height:16px;
  background-color: black;
  margin: 5px;
  line-height: 16px;
  filter:alpha(opacity=40);opacity:0.3;
  border-radius: 50%;
}
.carousel .carouselPages ul .on{
filter:alpha(opacity=100);
opacity:1;
}

.carousel .prev,
.carousel .next{
  position:absolute;
  left:3%; top:50%;
  margin-top:-25px;
  display:block;
  width:32px;
  height:40px; background:url('/public/images/public/slider-arrow.png') -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;
}
.carousel .next{
  left:auto;
  right:3%;
  background-position:8px 5px;
}
.carousel .prev:hover,
.carousel .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.carousel .prevStop{ display:none;  }
.carousel .nextStop{ display:none;  }
